<%# locals: booth:, stream_session:, comments:, drink_items:, can_create_drink_order: %>

<% live_like = booth.live? || booth.away? %>
<% live_ui = stream_session.present? && live_like %>

<div class="viewer-stream-state" data-live-like="<%= live_ui ? "true" : "false" %>">
  <% if live_ui %>
    <%= turbo_stream_from [stream_session, :pending_drink_orders] %>
    <%= turbo_stream_from [stream_session, :comments] %>
    <%= turbo_stream_from [stream_session, :viewer_stage] %>

    <div class="viewer-stage-shell">
      <div id="viewer_stage">
        <%= render "stream_sessions/ivs_viewer",
              stream_session: stream_session,
              booth: booth,
              comments: comments,
              drink_items: drink_items,
              can_create_drink_order: can_create_drink_order %>
      </div>
    </div>
  <% end %>
</div>
