<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<% initial_live_ui = @stream_session.present? && (@booth.live? || @booth.away?) %>

<div class="viewer-page <%= "is-live" if initial_live_ui %>" data-controller="viewer-page">
  <%= turbo_stream_from [@booth, :stream_state] %>

  <% if user_signed_in? %>
    <div class="viewer-favorites-depot" data-viewer-page-target="favoritesDepot" hidden>
      <%= render "favorites/booths/button_booth_show", booth: @booth, favorited: @booth_favorited %>
      <%= render "favorites/stores/button_store_show", store: @booth.store, favorited: @store_favorited %>

      <% if @booth.primary_cast_user.present? %>
        <%= render "favorites/users/button_user_show",
              user: @booth.primary_cast_user,
              favorited: @user_favorited %>
      <% end %>
    </div>
  <% end %>

  <div id="viewer_flash_layer">
    <div id="flash_inner">
      <% if notice.present? %>
        <%= render "shared/flash_message", level: "success", message: notice %>
      <% end %>

      <% if alert.present? %>
        <%= render "shared/flash_message", level: "danger", message: alert %>
      <% end %>
    </div>
  </div>

  <div
    id="viewer_live_root"
    class="viewer-live-root <%= "d-none" unless initial_live_ui %>"
    data-viewer-page-target="liveRoot"
  >
    <div id="stream_state">
      <%= render "booths/stream_state",
            booth: @booth,
            stream_session: @stream_session,
            comments: @comments,
            drink_items: @drink_items,
            can_create_drink_order: @can_create_drink_order %>
    </div>
  </div>

  <div
    id="viewer_waiting_root"
    class="viewer-waiting-root <%= "d-none" if initial_live_ui %>"
    data-viewer-page-target="waitingRoot"
  >
    <div id="waiting_state">
      <%= render "booths/waiting_state", booth: @booth %>
    </div>
  </div>
</div>
