<h1>home (stub)</h1>

<ul>
  <li><%= link_to "Public booth show (id=1)", booth_path(1) %></li>
  <li><%= link_to "Cast booths", cast_booths_path %></li>
  <li><%= link_to "Admin booths", admin_booths_path %></li>
  <% if user_signed_in? && (current_user.store_admin? || current_user.system_admin?) %>
    <li><%= link_to "Admin drink items", admin_drink_items_path %></li>
  <% end %>
</ul>

<hr>

<% if user_signed_in? %>
  <p>ログイン中: <%= current_user.email %>（role: <%= current_user.role %>）</p>
  <%= button_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "ログイン", new_user_session_path %>
<% end %>
