<!DOCTYPE html>
<html data-bs-theme="dark">
  <head>
    <title><%= content_for(:title) || "App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="App">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <% unless Rails.env.test? %>
      <%= stylesheet_link_tag "bootstrap-icons/font/bootstrap-icons", "data-turbo-track": "reload" %>
    <% end %>
    <%= javascript_importmap_tags %>
    <script
      src="https://web-broadcast.live-video.net/1.30.0/amazon-ivs-web-broadcast.js"
      data-turbo-track="reload"
    ></script>
  </head>

  <% cast_live_layout = (controller_path == "cast/booths" && action_name == "live") %>
  <% viewer_layout = (controller_path == "booths" && action_name == "show") %>

  <body class="<%= [ "d-flex", "flex-column", "min-vh-100", ("cast-live-layout" if cast_live_layout), ("viewer-layout" if viewer_layout) ].compact.join(" ") %>">
    <%= render "layouts/header" %>

    <% if cast_live_layout %>
      <%= render "layouts/cast_live_main" %>
    <% elsif viewer_layout %>
      <%= render "layouts/viewer_main" %>
    <% else %>
      <%= render "layouts/default_main" %>
    <% end %>

    <%# --- Global Modal Frame (common) --- %>
    <turbo-frame
      id="modal"
      data-controller="modal"
      data-action="turbo:frame-load->modal#open">
    </turbo-frame>
  </body>
</html>
